@charset "utf-8";
/* CSS Document */
body {
  font: 22px "Century Gothic", Futura, sans-serif;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 5%;
}

.square {
  background: black;
  color: #0080c7;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0px;
  text-align: center;
  width: 100px;
}

.board-row {
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
